
@{
    ViewBag.Title = "Likes";
}



<div class="container">
    <h2>My Liked Links</h2>
    <table class="table">
        <tr>
            <th>
                User
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Link
            </th>
            <th>
                Unlike
            </th>
        </tr>

        @foreach (var link in ViewBag.MyFavs)
        {
            <tr>
                <td>
                    <a href="/u/@link.Link.UserName">@link.Link.UserName</a>
                </td>
                <td>
                    @link.Link.Title
                </td>
                <td>
                    @link.Link.Description
                </td>
                <td>
                    @link.Link.Created
                </td>
                <td>
                    <a href="/l/@link.Link.ShortUrl">/l/@link.Link.ShortUrl</a>
                </td>
           
                <td>
                    @Html.ActionLink("Unlike", "Like", "Link", new { id = link.Link.Id }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
        </table>
    </div>

<div class="container">
    <h2>All Public Links</h2>
    <table class="table">
        <tr>
            <th>
                User
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Link
            </th>
            <th>
                Like
            </th>
        </tr>

        @foreach (var link in ViewBag.AllLinks)
        {
            <tr>
                <td>
                    <a href="/u/@link.UserName">@link.UserName</a>
                </td>
                <td>
                    @link.Title
                </td>
                <td>
                    @link.Description
                </td>
                <td>

                    @link.Created
                </td>
                <td>
                    <a href="/l/@link.ShortUrl">/l/@link.ShortUrl</a>
                </td>

                <td>
                    @if (ViewBag.liked == true)
                    {
                        @Html.ActionLink("Unlike", "Like", "Link", new { id = link.Id }, new { @class = "btn btn-primary btn-sm" })
                    }
                    else
                    {
                        @Html.ActionLink("Like", "Like", "Link", new { id = link.Id }, new { @class = "btn btn-primary btn-sm" })
                    }
                </td>

            </tr>
        }

    </table>
</div>