
@{
    ViewBag.Title = "Likes";
}

<h2>My Favorites</h2>

<div class="container">
    <table class="table">
        <tr>
            <th>
                User
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Link
            </th>
            <th>
                Unlike
            </th>
        </tr>

        @foreach (var link in ViewBag.MyFavs)
        {
            <tr>
                <td>
                    <a href="/u/@link.UserName">@link.UserName</a>
                </td>
                <td>
                    @link.Title
                </td>
                <td>
                    @link.Description
                </td>
                <td>
                    @link.Created
                </td>
                <td>
                    <a href="/l/@link.ShortUrl">/l/@link.ShortUrl</a>
                </td>
           
                <td>
                    @Html.ActionLink("Unlike", "Unlike", "Link", new { id = link.Id }, new { @class = "btn btn-primary btn-large" })
                </td>
            </tr>
        }
        </table>
    </div>